.centered {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* background-color: blue; */
  height: 108rem;
  width: 100%;
}

@media (max-width: 390px) {
  .centered {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background-color: blue; */
    height: 844px;
    width: 100%;
  }
}
