.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 108rem;
  width: 100%;
}

@media (max-width: 390px) {
  .centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 84.4rem;
    width: 100%;
  }
}
