.form {
  display: flex;
  flex-direction: column;
  gap: 70px;
  width: 122.6rem;
  /* height: 973px; */
  background-color: #fff;
  border-radius: 1rem;
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.1rem;
  /* padding-top: 9.6rem;
  padding-bottom: 5rem;
  padding-left: 17.4rem;
  padding-right: 17.4rem; */
  padding: 9.6rem 17.4rem 5rem;
  margin-bottom: 6.7rem;
}

.form input {
  font-family: "Helvetica Neue";
  display: block;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.1rem;
  margin-top: 0.8rem;
  width: 100%;
  padding: 1.5rem 1rem;
  border-radius: 0.8rem;
  outline: none;
  border: 0.1rem solid #8ac0e2;
  transition: all 0.3s;
}

.form input[type="file"] {
  margin: 0;
  padding: 0;
  border-radius: 10px;
}

.form label {
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-weight: 600;
  font-style: normal;
  transition: all 0.3s;
}

.form select {
  width: 100%;
  padding: 1.5rem 1rem;
  border-radius: 8px;
  border: none;
  background: #ebebeb;
  font-weight: 600;
  font-family: inherit;
  font-size: 1.8rem;
}

.form select:focus {
  background-color: rgb(255, 255, 255);
}

.form select option:hover {
  background: #e7f0f8;
}

.form input::placeholder {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.6);
}

.form input:focus {
  background: rgba(43, 75, 242, 0.06);
  border: 0.1rem solid #6499ff;
}

.form input[type="file"]:focus {
  background: none;
  border: none;
}

@media (max-width: 390px) {
  .form {
    width: 100%;
    padding: 38px 16px 55px;
    /* background-color: red; */
    border-radius: 12px 12px 0px 0px;
    margin-bottom: 0;
    gap: 23px;
  }
}
