.list {
  width: 120rem;
  display: flex;
  justify-content: space-between;
  gap: 5.5rem;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 16.8rem;
}

.heading {
  font-weight: 700;
  font-size: 3.4rem;
  margin-top: 7.9rem;
  margin-bottom: 7.9rem;
  text-align: center;
}

.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.6rem;
}

.noData {
  margin-top: 20rem;
  text-align: center;
}

@media (max-width: 390px) {
  .list {
    width: 35.8rem;
    gap: 2.6rem;
    margin-bottom: 5.1rem;
    padding-bottom: 5.1rem;
  }

  .heading {
    font-weight: 700;
    font-size: 1.6rem;
    margin-top: 3.1rem;
    margin-bottom: 3.1rem;
    text-align: center;
  }
}
