.item {
  background-color: #eafaff;
  width: 56.3rem;
  display: flex;
  gap: 2.8rem;
  border-radius: 2rem;
  padding: 1.4rem;
  padding-right: 7.7rem;
  border: 1px solid #aed1ea;
  align-items: center;
}

.imgWrapper {
  width: 26.6rem;
  height: 17.8rem;
}

.imgWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.personName {
  font-weight: 700;
  font-size: 1.8rem;
  color: #2e2e2e;
  margin-bottom: 1.8rem;
}

.laptopName {
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #2e2e2e;
  margin-bottom: 4rem;
}

.moreBtn {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  color: #4386a9;
}

@media (max-width: 390px) {
  .item {
    width: 100%;
    padding: 0.7rem 1.4rem 0.7rem 0.7rem;
    height: 12.3rem;
  }

  .imgWrapper {
    width: 16.4rem;
    height: 10.9rem;
    object-fit: cover;
  }

  .personName {
    font-weight: 700;
    font-size: 1.4rem;
    color: #2e2e2e;
    margin-top: 1.9rem;
    margin-bottom: 0.8rem;
  }

  .laptopName {
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #2e2e2e;
    margin-bottom: 1.1rem;
  }
}
