.imageUploader {
  /* background-color: red; */
  border: 0.2rem dashed #4386a9;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6.5rem;
  padding-top: 10.7rem;
  padding-bottom: 11.5rem;
  position: relative;
}

.imageUploader label {
  text-align: center;
  line-height: 3.8rem;
  font-weight: 500;
  font-size: 2rem;
  color: #4386a9;
}

.existImage {
  border: none;
  padding-top: 0;
  padding-bottom: 0;
  gap: 0;
}

.imageUploader input {
  color: #fff;
  border: none;
  display: flex;
  width: 23.3rem;
  text-align: center;
}

.cameraIcon {
  display: none;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
  text-align: center;
  display: none;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
  text-align: center;
  display: none;
}

.custom-file-input::before {
  font-family: "Helvetica Neue";
  content: "ატვირთე";
  text-align: center;
  display: inline-block;
  background: #62a1eb;
  color: #fff;
  border-radius: 10px;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 2rem;
  transition: 0.2s;
}

.haveImage::before {
  content: "თავიდან ატვირთე";
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  position: absolute;
  bottom: -8rem;
  right: 0;
  z-index: 101;
}

.imgWrapper {
  width: 87.8rem;
  height: 42.3rem;
}

.uploadedImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  right: 0;
}

.imageStatusName {
  display: flex;
  gap: 2rem;
  position: absolute;
  bottom: -6rem;
  left: 0;
  z-index: 101;
  align-items: center;
  font-size: 1.8rem;
}

.imageInfo {
  display: flex;
  gap: 2rem;
}

.imageSize {
  color: #5f5f5f;
}

.inputImageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-file-input:focus::before {
  background: #1a5dab;
}
.custom-file-input:hover::before {
  background: #317ad0;
}
.custom-file-input:active::before {
  background: #1a5dab;
}

.bottomLabel {
  font-weight: 300;
  font-size: 1.4rem;
  margin-top: 0.5rem;
}

.names {
  display: flex;
  gap: 6rem;
  align-items: center;
  padding-bottom: 3.2rem;
  border-bottom: 0.1rem solid #c7c7c7;
  margin-top: 5rem;
}
.name {
  width: 100%;
}

.brand {
  width: 100%;
}

.cpuInfo {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.cpuInfo div {
  width: 100%;
}

.ramInfo {
  display: flex;
  gap: 6rem;
}

.ramCount {
  width: 100%;
}

.memoryRadio {
  width: 100%;
}

.radioBox {
  display: flex;
  align-items: center;
  gap: 6rem;
  margin-top: 2rem;
}

.radioWrapper input {
  display: inline-block;
  width: 2rem;
  margin-right: 1.8rem;
}

.priceWrapper {
  position: relative;
}

.dateAndPrice {
  display: flex;
  gap: 6rem;
}

.dateAndPrice div {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  color: #62a1eb;
  background: none;
  border: none;
  text-decoration: none;
}

.save {
  background-color: #62a1eb;
  border: none;
  color: #fff;
  padding: 1.8rem 4.5rem;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  border-radius: 0.8rem;
  cursor: pointer;
}

.invalid label {
  color: red;
}

.invalid input {
  border: 1.8px solid #e52f2f;
}

.invalid p {
  color: #e52f2f;
  font-weight: 300;
  font-size: 1.4rem;
  margin-top: 0.5rem;
}

.error select {
  border: 1.8px solid #e52f2f;
}

.radioInvalid {
  color: #e52f2f;
  margin-right: 10px;
}

.imageError {
  background: #fff1f1;
  border: 1.8px dashed #e52f2f;
}

.imageError label {
  color: #e52f2f;
}

.imageError input {
  color: #fff1f1;
}

.labelAndErrorWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.labelAndErrorWrapper svg {
  transform: scale(1.5);
}

@media (max-width: 390px) {
  .cameraIcon {
    display: block;
  }
  .imgLabel {
    display: none;
  }

  .custom-file-input::before {
    content: "ლეპტოპის ფოტოს \A ატვირთვა";
    white-space: pre;
    background: none;
    color: #4386a9;
    line-height: 3rem;
  }

  .imageUploader {
    gap: 1rem;
    padding-top: 4.3rem;
    padding-bottom: 2.8rem;
    position: relative;
  }

  .existImage {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    gap: 0;
    margin-bottom: 4rem;
  }

  .imageError .custom-file-input::before {
    color: #e52f2f;
  }

  .labelAndErrorWrapper svg {
    position: absolute;
    bottom: 25px;
    transform: scale(1.2);
  }

  .imgWrapper {
    width: 35.8rem;
    height: 16.1rem;
  }

  .imageStatusName {
    gap: 15px;
    position: absolute;
    bottom: -7rem;
    left: 0;
    z-index: 101;
    align-items: center;
    font-size: 1.4rem;
  }

  .imageInfo {
    flex-direction: column;
    gap: 0;
  }
  .haveImage::before {
    content: "თავიდან ატვირთე";
    padding: 1.2rem 1rem;
    position: absolute;
    bottom: -7rem;
    right: 0;
    z-index: 101;
    background: #62a1eb;
    color: #fff;
    font-size: 1.8rem;
  }

  .names {
    display: block;
    border: none;
  }

  .name {
    margin-bottom: 2.3rem;
  }
  .cpuInfo {
    flex-direction: column;
    gap: 2.3rem;
  }

  .cpuSelect {
    margin-bottom: 1.5rem;
  }

  .ramInfo {
    flex-direction: column;
    gap: 2.3rem;
  }

  .dateAndPrice {
    flex-direction: column;
    gap: 2.3rem;
  }

  .date {
    margin-top: 6rem;
  }

  .actions {
    margin-top: 6rem;
    margin-bottom: 0;
  }
  .save {
    color: #fff;
    padding: 1.2rem 1.4rem;
    font-size: 1.8rem;
  }
}
