.imageUploader {
  /* background-color: red; */
  border: 0.2rem dashed #4386a9;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6.5rem;
  padding-top: 10.7rem;
  padding-bottom: 11.5rem;
}

.imageUploader label {
  text-align: center;
  line-height: 3.8rem;
  font-weight: 500;
  font-size: 2rem;
  color: #4386a9;
}

.imageUploader input {
  /* background-color: red; */
  /* border: none; */
  color: #fff;

  border: none;
  display: flex;
  width: 23.3rem;
  text-align: center;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
  text-align: center;
}
.custom-file-input::before {
  font-family: "Helvetica Neue";
  content: "ატვირთე";
  text-align: center;
  display: inline-block;
  background: #62a1eb;
  color: #fff;
  border: 0.1rem solid #999;
  border-radius: 0.3rem;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  /* text-shadow: 1px 1px #fff; */
  font-weight: 500;
  font-size: 2rem;
}
/* .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  } */

.bottomLabel {
  font-weight: 300;
  font-size: 1.4rem;
  margin-top: 0.5rem;
}

.names {
  display: flex;
  gap: 6rem;
  align-items: center;
  padding-bottom: 5.2rem;
  border-bottom: 0.1rem solid #c7c7c7;
}
.name {
  width: 100%;
}

.brand {
  width: 100%;
}

.cpuInfo {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.cpuInfo div {
  width: 100%;
}

.ramInfo {
  display: flex;
  gap: 6rem;
}

.ramCount {
  width: 100%;
}

.memoryRadio {
  width: 100%;
}

/* .ramInfo div {
    width: 100%;
  } */

.radioBox {
  /* background-color: red; */
  display: flex;
  align-items: center;
  gap: 6rem;
  margin-top: 2rem;
}

.radioWrapper input {
  display: inline-block;
  width: 2rem;
  margin-right: 1.8rem;
}

.radioWrapper {
  /* background-color: blue; */
}

.dateAndPrice {
  display: flex;
  gap: 6rem;
}

.dateAndPrice div {
  width: 100%;
}

.laptopCondition {
  /* background-color: red; */
}

/* .radios {
    margin-top: 20px;
    display: flex;
    gap: 60px;
  }
  
  .radioContainer input {
    display: inline-block;
    width: 20px;
    margin-right: 18px;
  } */

.actions {
  display: flex;
  justify-content: space-between;
}

.back {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  color: #62a1eb;
  background: none;
  border: none;
}

.save {
  background-color: #62a1eb;
  border: none;
  color: #fff;
  padding: 1.8rem 4.5rem;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  border-radius: 0.8rem;
  cursor: pointer;
}

.invalid label {
  /* background-color: red; */
  color: red;
}

.invalid input {
  border: 1px solid #e52f2f;
}

.invalid p {
  color: #e52f2f;
  font-weight: 300;
  font-size: 1.4rem;
  margin-top: 0.5rem;
}

.error select {
  border: 2px solid #e52f2f;
}

.radioInvalid {
  color: #e52f2f;
  margin-right: 10px;
}
