.header {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.header ul {
  display: flex;
  gap: 6.6rem;
}

.header li {
  list-style: none;
  text-decoration: none;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #232323;
  padding-bottom: 10px;
}

.navButton {
  font-family: "Helvetica Neue";
  background: none;
  border: none;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #232323;
  cursor: pointer;
}

.headerInfo {
  display: none;
}

.header a {
  text-decoration: none;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #232323;
}

.active {
  border-bottom: 0.2rem solid #232323;
}

.headerInfo {
  text-align: center;
}

.headerInfo p {
  font-size: 1.6rem;
  color: #232323;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.headerInfo span {
  font-size: 1.4rem;
  color: #898989;
}

@media (max-width: 390px) {
  .header {
    margin-bottom: 1rem;
  }
  .header nav {
    display: none;
  }
  .headerInfo {
    display: block;
  }
}
