.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: rgb(29, 178, 119); */
  background-color: #f6f6f6;
  /* height: 1327px; */
  width: 100%;
  padding-top: 9.1rem;
  padding-bottom: 5.3rem;
}

@media (max-width: 390px) {
  .logo {
    display: none;
  }
  .wrapper {
    padding-bottom: 0;
  }
}
