.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f6f6f6;
  width: 100%;
  padding-top: 9.1rem;
  padding-bottom: 5.3rem;
}

@media (max-width: 390px) {
  .logo {
    display: none;
  }
  .wrapper {
    padding-top: 3.1rem;
    padding-bottom: 0;
  }
}
