.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(29, 178, 119);
  /* background-color: #f6f6f6; */
  /* height: 1327px; */
  width: 100%;
  padding-top: 91px;
  padding-bottom: 53px;
}
